name: test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v2
      - run: terraform init
        working-directory: example/
      - id: pre
        run: terraform validate
        working-directory: example/
        continue-on-error: true
      - name: Assert "terraform validate" fails before action runs
        if: steps.pre.outcome != 'failure'
        run: exit 1
      - name: bendrucker/terraform-configuration-aliases-action
        id: aliases
        uses: ./
        with:
          path: example/
      - id: post
        run: terraform validate
        working-directory: example/
      - name: Assert "providers" output is set
        run: |
          [[ '${{ steps.aliases.outputs.providers }}' == '{"provider":{"null":[{"alias":"alt"}]}}' ]]